<tr>
  <td></td>
  <td></td>
  <td><%= chat.content %></td>
  <td>
    <%= attachment_image_tag chat.user, :profile_image, format: 'jpeg', size: '50x50' %><br>
    <%= chat.user.name %>
  </td>
</tr>
